@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Arlington This Week</h1>
    <img alt="Arlington, TX" style="height: 600px;" src="~/img/arlington.png" />
    <p style="margin-top:20px; text-align: justify">
        Welcome to Arlington, Texas - a vibrant city with endless opportunities! Known for its business-friendly environment, Arlington is a prime location for entrepreneurs and companies looking to thrive. With a strategic location in the heart of the Dallas-Fort Worth metroplex, this city offers a favorable tax structure, robust infrastructure, and a supportive community that fosters growth and innovation. From small startups to multinational corporations, Arlington welcomes businesses of all sizes and industries, making it an ideal destination for economic prosperity.
    </p>
    <p style="text-align: justify">
        Safety is a top priority in Arlington, as the city boasts a low crime rate and a strong commitment to public safety. Residents and visitors alike can enjoy peace of mind as they explore the city's numerous attractions and neighborhoods. Speaking of attractions, Arlington is home to an impressive array of entertainment options. Sports enthusiasts can witness the electrifying atmosphere at Texas Stadium, the legendary home of the Dallas Cowboys. From gripping football games to awe-inspiring concerts, this state-of-the-art venue offers unforgettable experiences for fans of all ages. In addition, Arlington boasts an exciting mix of cultural, dining, and shopping destinations, ensuring that there is something for everyone to enjoy in this dynamic city.
    </p>
</div>
